.header{
    background-color: #003580;
    color:white;
    display:flex;
    justify-content:center;
}

.headerContainer{
    width:100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}

.headerList{
    display:flex;
    gap: 40px;
    margin-bottom: 50px;
}

.headerListItem{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.headerListItem.active{
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
}

.headerDesc{
    margin: 20px 0px;
}

.headerBtn{
    background-color: #275ba5;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.headerBtn:hover{
    background-color: #003580;
    color: white;
}